@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
    h1 {  
    font-family: 'Montserrat, sans-serif';
    color: #fff; 
    font-size: 3.5rem; 
    line-height: 1.5; 
    font-weight: 900;
    }
    .carousel-item> h2{
        font-family: 'Montserrat';
        color: #fff; 
        font-size: 2.5rem; 
        line-height: 1.5; 

    }
    #title{
        background-color: #ff4c68;
    }
    /* Navbar */
    .navbar-brand{
        color: hwb(0 100% 0% / 0.968);
        font-family: 'Ubuntu';
        font-size: 2.5rem;
        font-weight: bold;
    }
    .nav-item{
        padding: 0 18px;
    }
    .nav-link{
        color: rgba(255, 255, 255, 0.984);
        font-size: 1.25rem;
    }
    .container-fluid{
        padding: 3% 15% 12%;
    }
    .navbar{
        padding: 0 0 4.5rem;
    }
    /* phnone Image */
.rotateimg25{
    transform: rotate(25deg);
}
.iphone-img{
    width: 20%;
    right: 30%;
    position: absolute;

}
.download-button{
margin: 5% 3% 5% 0;
   
}
    /* icons */
.fa-circle-check,.fa-bullseye,.fa-heart{
    color: #ef8172;
}
.fa-heart:hover{
    color: #ef8172;
}
.icon{
    padding: 1rem;
}
.icon:hover{
    color: #ff4c68;
}
    /* feature box */
p{
    font-family: 'Montserrat, sans-serif';
    color: #8f8f8f;
}

#features{
    padding: 7% 15%;
    position: relative;
    z-index: 1;
    background-color: #fff;
}
.feature-box{
    text-align: center;
padding: 5%;
}

/* testimonials */
#testimonials{
    background-color: #ef8172;
    text-align: center;
}
.testimonial-image{
    border-radius: 100%;
    width: 10%;
    margin: 20px;
}
#press{
    background-color: #ef8172;
    padding-top: 50px;
    padding-bottom: 3%;
    text-align: center;
}
.press-img{
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding: 3% 15%;

}
/* pricing cards */
#pricing{
    padding: 100px;
    text-align: center;
}
#pricing> h2{
    font-size: 3rem;
    color: #000;
}
.pricing-cards{
    padding: 4%  3% ;
}
.card-body> h2, h3{
    font-size: 2.5rem;
    font-weight: bold;
}
.card-body{
    padding: 1.25rem;
    line-height: 2;

}

#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 8% 20%;
}
#cta> h3{
    font-family: 'Montserrat sans-serif';
    color: #fff;
    font-size: 4rem;
}
#footer{
    text-align: center;
    padding: 8%;
}
#footer> p{
    color: #000;
    font-size: 25px;
}
.foot-icon{
    margin: 40px 35px;
    color: black;
}
.fa-instagram:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    /* background-color: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf); */
}
.fa-facebook-square:hover{
color:  #4267B2;
}
.fa-twitter-square:hover{
    color: skyblue;
}
span:hover{
color: red;
}



/* media query */
@media(max-width:1060px){
    .iphone-img{
        position: static;
        transform: rotate(0deg);
        width: 60%;
        margin-left: 75px;
    }h1{
        text-align: center;

    }
}
@media(max-width:992px){
    .download-button{
        margin: 5% 9% 5% 10%;
    }
}
@media(min-width:625px) and (max-width:709px){
    .download-button{
        margin: 5%;
    }
}
